<!DOCTYPE html>
<html>

<head>
    <title>Contact List</title>
</head>

<body>
    <h1>Contact List</h1>
    <a href="{% url 'add_contact' %}">Add New Contact</a>
    <form method="GET" action="{% url 'search_contacts' %}">
        <input type="text" name="q" placeholder="Search contacts...">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for contact in contacts %}
        <li><a href="{% url 'contact_detail' contact.id %}">{{ contact.first_name }} - {{ contact.email }} - 
            {{ contact.phone_number }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>